#find-me-btn,
#zoom-in-btn,
#zoom-default-btn,
#zoom-out-btn,
#base-layers-btn,
#burger-btn,
#about-btn,
#session,
#login-btn,
#mapcontrols-history-backward,
#mapcontrols-history-forward
{
    display:none !important;
}
.leaflet-control-attribution.leaflet-control {
    display: none;
}
.leaflet-control-scale-line {
    display: none;
}
<div id="floating-container-primary">
	<a href="#full-screen" id=full-screen-btn" class="btn btn-default btn-fab btn-fab-mini map-tool-btn embed-full-screen">
	<i class="material-icons">fullscreen</i>
	<div class="ripple-container"></div>
	</a>
