#find-me-btn,
#custom-search,
#embed-legend-panel,
#zoom-in-btn,
#zoom-out-btn,
#base-layers-btn,
#burger-btn,
#about-btn,
#session,
#login-btn,
#mapcontrols-history-backward,
#mapcontrols-history-forward
{
    display:none !important;
}
.leaflet-control-attribution.leaflet-control {
    display: none;
}
.leaflet-control-scale-line {
    display: none;
}
.btn.btn-fab {position:fixed; left: 5px; top: 5px;}
#floating-container-primary a {
    margin-bottom: 8px;
    position: fixed;
    left: 5px;
    top: 50px;
}
.places {
    display:none;
}
